<div class="users-container">
  <div class="header">
    <h2>User List</h2>
    <div class="btn-area">
      <button class="add-user-btn" (click)="addUser()">
        Add New User
        <lucide-angular [img]="SquarePlus" size="20" class="my-icon" />
      </button>
      <label class="Search-field">
        <lucide-angular [img]="Search" size="20" class="my-icon" />
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterUsers()"
          placeholder="Search Name"
        />
      </label>
    </div>
  </div>
  <div class="main-area">
    <div class="table-container">
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>User Name</th>
              <th>Name</th>
              <th>Role</th>
              <th>Book Issued</th>
              <th>Current Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users$ | async">
              <td>{{ user.username }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.role }}</td>
              <td>{{ formatDate(user.createdAt) }}</td>
              <td>{{ user.isActive }}</td>
              <td>
                <button (click)="editUser(user)">
                  <lucide-angular
                    [img]="FilePenLine"
                    size="20"
                    class="my-icon"
                  ></lucide-angular>
                </button>
                <button (click)="deleteUser(user._id)">
                  <lucide-angular
                    [img]="Trash2"
                    size="20"
                    class="my-icon"
                  ></lucide-angular>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagnation-area">
        <app-pagination
          [currentPage]="currentPage"
          [totalItems]="totalItems"
          [totalPages]="totalPages"
          (prevPage)="prevPage()"
          (onLimitChange)="onLimitChange($event)"
          (nextPage)="nextPage()"
        ></app-pagination>
      </div>
    </div>
  </div>
</div>
<app-add-user-modal
  [isOpen]="isAddUserModal"
  (addUser)="registerUser()"
  (errorOccurred)="handleError($event)"
  (onClose)="closeUserModal()"
></app-add-user-modal>
<app-update-user-modal
  [isOpen]="isEditModalOpen"
  [editedUser]="selectedUser"
  (onSave)="onSaveEdit()"
  (onCancel)="onCancelEdit()"
></app-update-user-modal>
<app-alert-modal
  [isOpen]="isAddUserModal"
  type="success"
  title="Book Registered"
  message="Book has been registered successfully"
></app-alert-modal>
<app-alert-modal
  [isOpen]="isErrorModalOpen"
  [type]="'error'"
  [title]="'Error Occurred'"
  [message]="errorMessage"
  (onClose)="handleErrorModel()"
></app-alert-modal>
<app-action-modal
  [isOpen]="isBookDeleteAlertOpen"
  [type]="'warning'"
  [title]="'Are you sure?'"
  [message]="errorMessage"
  (onConfirm)="onConfirmDelete()"
  (onClose)="onClose()"
></app-action-modal>
