<div class="modal-overlay" *ngIf="isOpen">
  <div class="modal">
    <ng-container *ngIf="type === 'info'">
      <lucide-angular [img]="ShieldQuestion" size="40" class="info"></lucide-angular>
    </ng-container>
    <ng-container *ngIf="type === 'success'">
      <lucide-angular [img]="Success" size="40" class="sucess"></lucide-angular>
    </ng-container>
    <ng-container *ngIf="type === 'error'">
      <lucide-angular [img]="Error" size="40" class="error"></lucide-angular>
    </ng-container>
    <ng-container *ngIf="type === 'warning'">
      <lucide-angular [img]="Warning" size="40" class="warning"></lucide-angular>
    </ng-container>
    <h3>{{ title }}</h3>
    <p>{{ message }}</p>
    <div>
      <button [ngClass]="{
        'info-btn': type === 'info',
        'success-btn': type === 'success',
        'error-btn': type === 'error',
        'warning-btn': type === 'warning'
      }" (click)="handleConfirm()">Ok</button>
    </div>
  </div>
</div>
