<div class="modal-overlay" *ngIf="isOpen">
  <div class="modal">
    <div class="header">
      <lucide-angular [img]="Users" size="24" class="my-icon"></lucide-angular>
      <h3>Register User</h3>
    </div>
    <hr />
    <form (ngSubmit)="handleRegister()">
      <div class="form-container">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" [(ngModel)]="newMember.name" name="name" placeholder="Enter full name" required />
        </div>
        <div class="form-group">
          <label for="username">Email</label>
          <input id="username" [(ngModel)]="newMember.email" name="username" placeholder="Enter username" required />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" [(ngModel)]="newMember.email" name="email" placeholder="Enter email" required type="email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" [(ngModel)]="newMember.membershipType" name="password" placeholder="Enter password" required type="password" />
        </div>
      </div>
      <hr />
      <div class="modal-actions">
        <button type="submit" class="yes-btn">Register</button>
        <button (click)="handleCancel()" class="no-btn">Cancel</button>
      </div>
    </form>
  </div>
</div>
