<div class="admin-settings">
  <div class="settings-header">
    <h1>Settings</h1>
    <h4>Lorem Ipsume is</h4>
  </div>
  <div class="details">
    <lucide-angular [img]="UserRoundCog" size="100rem" class="my-icon"></lucide-angular>
    <div class="fields">
      <label>
        <span>User Name:</span>
        <input type="text" />
      </label>
      <label>
        <span>Name:</span>
        <input type="text" />
      </label>
      <label>
        <span>Role:</span>
        <input type="text" />
      </label>
      <label>
        <span>Role:</span>
        <input type="text" />
      </label>
      <label>
        <span>Role:</span>
        <input type="text" />
      </label>
      <label>
        <span>Role:</span>
        <input type="text" />
      </label>

    </div>
  </div>

</div>
