<div class="books">
  <div class="header">
    <h2>Books List</h2>
    <div class="btn-area">
      <div class="btn">
        <button class="add-book-btn" (click)="addBook()">
          Add New Book
          <lucide-angular [img]="SquarePlus" size="20" class="my-icon" />
        </button>
        <button class="scaner-btn" (click)="scanEnable()">
          {{ scanEnabled ? "Close Scanner" : "Open Scanner"
          }}<lucide-angular [img]="ScanBarcode" size="20" class="my-icon" />
        </button>
      </div>
      <label class="Search-field">
        <lucide-angular [img]="Search" size="20" class="my-icon" />
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterItems()"
          placeholder="Search ISBN"
        />
      </label>
    </div>
  </div>
  <app-add-book-modal
    [isOpen]="isModalOpen"
    title="Logout Confirmation"
    message="Are you sure you want to log out?"
    (addBook)="addBookSucess($event)"
    (errorOccurred)="errorOccurred($event)"
    (closeModal)="onClose()"
  >
  </app-add-book-modal>
  <div class="main-area">
    <div class="table-container">
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>ISBN</th>
              <th>Book Name</th>
              <th>Author Name</th>
              <th>Published Date</th>
              <th>Total Copies</th>
              <th>Available Copies</th>
              <th>Updated At</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of filteredBooks$ | async">
              <td>{{ book.isbn }}</td>
              <td>{{ book.title }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.publishedDate | dateFormat }}</td>
              <td>{{ book.totalCopies }}</td>
              <td>{{ book.availableCopies }}</td>
              <td>{{ book.updatedAt | dateFormat }}</td>
              <td>
                <button (click)="editBook(book)">
                  <lucide-angular
                    [img]="FilePenLine"
                    size="20"
                    class="my-icon"
                  ></lucide-angular>
                </button>
                <button (click)="deleteBook(book._id)">
                  <lucide-angular
                    [img]="Trash2"
                    size="20"
                    class="my-icon"
                  ></lucide-angular>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagnation-area">
        <app-pagination
          [currentPage]="currentPage"
          [totalItems]="totalItems"
          [totalPages]="totalPages"
          (prevPage)="prevPage()"
          (onLimitChange)="onLimitChange($event)"
          (nextPage)="nextPage()"
        ></app-pagination>
      </div>
    </div>
    <div *ngIf="scanEnabled" class="barcode-scanner">
      <app-barcode-scanner></app-barcode-scanner>
    </div>
    <app-edit-book-modal
      [isOpen]="isEditModalOpen"
      [editedBook]="selectedBook"
      (onCancel)="onCancelEdit()"
      (onSave)="onSaveEdit()"
    ></app-edit-book-modal>
    <app-alert-modal
      [isOpen]="isBookDeleteAlertOpen"
      type="success"
      title="Book Registered"
      message="Book has been registered successfully"
    ></app-alert-modal>
    <app-alert-modal
      [isOpen]="isErrorModalOpen"
      [type]="'error'"
      [title]="'Error Occurred'"
      [message]="errorMessage"
      (onClose)="handleErrorModel()"
    ></app-alert-modal>
    <app-action-modal
      [isOpen]="isBookDeleteAlertOpen"
      [type]="'warning'"
      [title]="'Are you sure?'"
      [message]="errorMessage"
      (onConfirm)="onConfirmDelete()"
      (onClose)="onClose()"
    ></app-action-modal>
    <app-print-barcode-modal
      [isOpen]="isSucessModal"
      [barcode]="barcode"
      (onPrint)="handleprint()"
      (onClose)="onClose()"
    ></app-print-barcode-modal>
  </div>
</div>
