.member-list {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 420px;
  @media screen and (max-width: 768px) {
    min-height: auto;
    width: 92vw;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
    }

    .add-member-btn {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .main-area {
    display: flex;
    align-items: start;
    gap: 1rem;
    width: 100%;
    height: auto;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .barcode-scanner {
      width: 250px;
      padding: 1rem;
      border-radius: 0.5rem;
    }

    // Scrollable table container
    .table-container {
      width: 100%;
      max-width: 100%;
      -webkit-overflow-scrolling: touch;
      border-radius: 5px;
      padding: 0.5rem;
      background-color: #fff;
      position: relative;

      .table-wrapper {
        width: auto;
        height: auto;
        overflow-x: auto;
        overflow-y: auto;
        margin-bottom: 10px;

        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin; /* Firefox: Makes the scrollbar thinner */
        scrollbar-color: #007bff transparent; /* Thumb color and a transparent track */

        /* Webkit-based browsers (Chrome, Edge, Safari) */
        &::-webkit-scrollbar {
          width: 8px; /* Width of the scrollbar */
          background: transparent; /* Removes the scrollbar track background */
        }

        &::-webkit-scrollbar-thumb {
          background-color: #007bff; /* Scrollbar thumb color */
          border-radius: 4px; /* Rounded edges for the thumb */
        }

        &::-webkit-scrollbar-track {
          background: transparent; /* Transparent track to remove unnecessary elements */
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #0056b3; /* Darker thumb on hover for better feedback */
        }
        @media screen and (max-width: 768px) {
          overflow-y: scroll; /* Allow scrolling but hide the scrollbar */

          &::-webkit-scrollbar {
            display: none; /* Hide scrollbar in Webkit browsers */
          }

          scrollbar-width: none; /* Firefox */
        }
      }

      .pagnation-area {
        width: 100%;
        display: flex;
        justify-content: center;
        position: sticky;
        bottom: 0;
        background-color: #fff;
        border-top: 1px solid #ddd;
        padding: 0.5rem 0;
      }

      table {
        flex: 1;
        border-collapse: collapse;
        width: 100%;
        th,
        td {
          border-bottom: 1px solid #ddd;
          padding: 8px;
          text-align: left;

          &:nth-child(5) {
            text-align: center;
          }

          &:nth-child(6) {
            text-align: center;
          }
        }

        tr:last-child td {
          border-bottom: none;
        }

        tr:hover {
          background-color: #f1f1f1;
        }

        button {
          margin-right: 5px;
          padding: 5px 10px;
          border: none;
          border-radius: 3px;
          cursor: pointer;

          &:nth-child(1) {
            background-color: transparent;
            color: green;

            &:hover {
              background-color: #21883760;
            }
          }

          &:nth-child(2) {
            background-color: transparent;
            color: red;

            &:hover {
              background-color: #c823334d;
            }
          }
        }
      }
    }
  }

  .no-data {
    text-align: center;
    font-size: 1rem;
    color: #6c757d;
    margin-top: 8rem;
  }

  .Show-more {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    a {
      padding: 5px 10px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      background-color: #007bff;
      color: white;
      text-decoration: none;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
