<div class="member-list">
  <div class="header">
    <h2>Member List</h2>
    <button class="add-member-btn" (click)="addMember()">Add New member</button>
  </div>

  <div class="main-area">
    <div class="table-container">
      <div class="table-wrapper">
        <table *ngIf="(members$ | async)?.length ?? 0 > 0">
          <thead>
            <tr>
              <th>Name</th>
              <th>email</th>
              <th class="text-center">Membership Type</th>
              <th class="text-center">Membership Expiry</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of members$ | async">
              <td>{{ member.name }}</td>
              <td>{{ member.email }}</td>
              <td class="text-center">{{ member.membershipType }}</td>
              <td class="text-center">
                {{ member.membershipExpiry | dateFormat }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="(members$ | async)?.length ?? 0 > 0" class="Show-more">
    <a [href]="'/' + userRole + '/members'">Show More</a>
  </div>
  <div *ngIf="(members$ | async)?.length === 0" class="no-data">
    <p>No Staff members Found</p>
  </div>
</div>
<app-add-member-modal
  [isOpen]="isAddMemberModal"
  (addMember)="registerMember()"
  (errorOccurred)="handleError($event)"
  (onClose)="closeAddMemberModal()"
>
</app-add-member-modal>
<app-alert-modal
  [isOpen]="isSucessModal"
  [type]="'success'"
  [title]="' Sucessfull'"
  [message]="sucessMessage"
  (onConfirm)="handleAlertResponse()"
>
</app-alert-modal>
<app-alert-modal
  [isOpen]="isErrModal"
  [type]="'error'"
  [title]="' Error'"
  [message]="errorMessage"
  (onConfirm)="handleAlertResponse()"
>
</app-alert-modal>
