<div class="login-main">
  <div class="login-container">
    <img
      src="https://static.vecteezy.com/system/resources/thumbnails/004/853/320/small/book-read-library-study-line-icon-illustration-logo-template-suitable-for-many-purposes-free-vector.jpg"
      width="200" alt="logo" />
    <p>Library Management System</p>
    <h2>Login</h2>
    <form (ngSubmit)="Login()">
      <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required />
      <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
  </div>
</div>
