<div class="sidebar" [class.active]="isActive">
  <ul *ngFor="let nav of navList" class="sidebar-menu">
    <li
      *ngIf="
        (userRole !== 'admin' &&
          nav.name !== 'Settings' &&
          nav.name !== 'Users') ||
        (userRole === 'admin' &&
          nav.name === 'Settings') ||
        (userRole === 'admin' ||
          nav.name === 'Users' && nav.name === 'Users')
      "
      [class.active]="nav.active"
      (click)="onChangeRoute(nav.route)"
    >
      <!-- Dynamic Router Link based on userRole and nav.route -->
      <a
        [routerLink]="[nav.route]"
        routerLinkActive="active"
        (click)="nav.active = true"
      >
        <!-- Mark the item as active on click -->

        <lucide-angular [img]="nav.icon" class="my-icon"></lucide-angular>
        <span>{{ nav.name }}</span>
      </a>
    </li>
  </ul>
</div>
